body{
    background: #ffffff;
    font-family: 'Poppins',sans-serif;
}
.navbar {
    padding: 5px;
    background: #000;
}


#mobile-menu {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 100%; /* Set mobile menu height to 100% */
    width: 100%; /* Set mobile menu width to 70% */

}

#mobile-menu.show {
    transform: translateX(0);
    opacity: 1;
}

#menu-btn {
    position: relative;
    animation: glow 1.5s infinite alternate;
    transition: transform 0.5s ease;
    cursor: pointer; /* Make hamburger icon clickable */
}

.menu-btn-open {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.spin {
    animation: spin 0.5s ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.navbar a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar li {
    position: relative;
    overflow: hidden;
}

.navbar li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #65B5EB, transparent);
    top: 50%;
    left: -100%;
    transition: left 0.4s;
}

.navbar li:hover::before {
    left: 100%;
}

#mobile-menu ul {
    width: 100%;
    text-align: center;
}

#mobile-menu li {
    padding: 10px 0; /* Adjust padding for better spacing */
    font-size: 1.25rem; /* Adjust font size for mobile (~20px) */
}

#mobile-menu li a {
    font-size: 1.25rem; /* Match link font size with list items */
}

@media (max-width: 768px) {
    #mobile-menu {
        width: 100%; /* Menu stays at 70% width on smaller screens */
        right: 15%;
    }

    #mobile-menu li {
        font-size: 1rem; /* Reduce font size slightly on smaller screens */
    }

    #logo {
        order: 2; /* Move logo to the end in mobile view */
        position: absolute;
        top: 15px;
        right: 0;
        width: auto; /* Adjust width as needed */
    }
}

@media screen and (max-width: 425px) {
    #logo {
        height: auto; /* Maintain aspect ratio */
    }
    #mobile-menu {
        font-size: 12px;
    }
}


.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #65B5EB;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.profile .name{

    padding: 10px;
    font-size: 1.0rem;
}
.shadow-neumorphism {

border-radius: 36px;
background: #e0e0e0;
box-shadow:  -50px -50px 100px #9d9d9d,
     50px 50px 100px #ffffff;
}
 .stock-card {
max-width: 300px;
background-color: #ffffff;
border-radius: 15px;
padding: 24px;
margin: 20px;
box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}

.stock-name {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
color: #333;
}

/* Subheadings and Values in the same row */
.stock-details-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
font-size: 14px;
font-weight: 600;
color: #6b7280;
}

/* Label and Value Inline Styling */
.stock-details-row div {
display: flex;
padding: 5px;
align-items: center;
}

/* Stock Values Styling */
.stock-value {
color: #333;
font-weight: 500;
font-size: 16px;
margin-left: 5px; /* Small space between label and value */
}